body {
    margin: 0;
    border: 0;
}

//***************************************************for modal***************************************************
/* The Modal (background) */
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0); /* Fallback color */

  /* Modal Content/Box */
  .modal-content {
    margin: 10% auto auto 30%; /* 15% from the top and centered */
    display: flex;

    img {
      max-width: 50%; /* Could be more or less, depending on screen size */
      max-height: 50%
    }

    #iframe_container {
      z-index: 3;
      position: fixed;
      margin: 9% auto auto 7.5%; /* 15% from the top and centered */

      iframe {
        min-height: 80px;
        max-height: 80px;
      }
    }
  }
}
//**********************************end for modal***************************************************