body {
  box-sizing: border-box;
  margin: 1%;
}

.nav_bar {
  vertical-align: top;
  width: 16%;
  padding: 1%;
  /* background-color: rgba(0, 0, 0 , 0.1); */
  display: inline-block;
  margin: 0%;
  position: fixed;
  text-align: center;
}

.photo_display {
  vertical-align: top;
  width: 80%;
  padding: 1%;
  display: inline-block;
  margin: -1%;
  float: right;
}

.nav_bar_contents {
  color: black;
  font-family: 'playfair display', serif;
  /* font-family: 'Avantgarde', sans-serif; */
  text-decoration: none;
  /* padding-top: 2vh;
  padding-bottom: 1vh; */
}

a.fa:link {
  color: black;
  text-decoration: none;
}

a.fa:visited {
  color: black;
  text-decoration: none;
}

.header {
  margin-top: 2vh;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.nav_options {
  margin-top: 5vh;
  text-align: left;
}

.social_links {
  margin-top: 1vh;
}

#footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 16%;
  height: 2em;
  /* margin: 0 -5rem; */
  margin-bottom: 1em;
}

.fa {
  padding: 1vw;
}
