body {
  box-sizing: border-box;
  margin: 1%;
}

.nav_bar {
  vertical-align: top;
  width: 36%;
  padding: 1%;
  /* background-color: rgba(0, 0, 0 , 0.1); */
  display: inline-block;
  margin: 0%;
  position: fixed;
  text-align: center;
}

.photo_display {
  vertical-align: top;
  width: 60%;
  padding: 1%;
  display: inline-block;
  margin: -1%;
  float: right;
}

.nav_bar_contents {
  color: black;
  font-family: 'playfair display', serif;
  /* font-family: 'Avantgarde', sans-serif; */
  text-decoration: none;
  /* padding-top: 2vh;
  padding-bottom: 1vh; */
}

a.fa:link {
  color: black;
  text-decoration: none;
}

a.fa:visited {
  color: black;
  text-decoration: none;
}

.header {
  margin-top: 2vh;
}

.nav_bar_button {
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.nav_options {
  margin-top: 5vh;
  top: 50%;
  left: 50%;
  transform: translate(50%, 0%);
  /* background-color: rgba(0, 0, 0, 0.4); */
  /* text-align: center; */
  width: 50%;
}

.social_links {
  float: none;
  /* background-color: rgba(0, 0, 0, 0.4); */
  /* align-self: center; */
  transform: translate(45%, 0%);
  margin-left: -1vw;
  margin-right: 2vw;
  margin-top: 5vh;
}

.fa {
  padding: 1vw;
}

#footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 36%;
  height: 2em;
  /* margin: 0 -5rem; */
  margin-bottom: 1em;
}

.icon {
  color: rgba(255, 255, 255, 0.5);
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1.3em;
}

.icon:hover {
  color: rgba(255, 255, 255, 1);
}
