.nav_bar {
  background-color: black;
  padding: 0.5em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.center {
  text-align: center;
}

.nav_bar_contents {
  font-family: 'playfair display', serif;
  /* font-family: 'Avantgarde', sans-serif; */
  text-decoration: none;
  color: white;
  display: inline-block;
}

.nav_bar_name {
  margin-top: 0.5em;
  margin-left: 0.2em;

  font-size: 2em;
}

.nav_bar_button {
  float: right;
  vertical-align: bottom;

  /*margin-top + font-size should equal nav_bar_name -> font-size*/
  margin-top: 2em;
  font-size: 1em;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.nav_bar_button:hover {
  color: gray;
}

a.fa:link {
  color: white;
  text-decoration: none;
}

a.fa:visited {
  color: white;
  text-decoration: none;
}

.nav_bar_separator {
  float: right;
  vertical-align: bottom;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 4.5em;
  font-size: 0.5em;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.main {
  margin-top: 5em; /* need this margin because the nav bar is 'fixed' */
  box-sizing: border-box;
}

.vimeo_video {
  margin-top: 3em;
  display: inline-block;
}

.photo_display {
  display: inline-block;
  width: 60%;
}

img {
  width: 100%;
}

.photo_container {
  position: relative;
  text-align: center;
}

.transparent_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transparent_background {
  /* z-index: 1; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.transparent_background:hover {
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.spacer_25 {
  width: 25%;
  display: inline-block;
}

.spacer_20 {
  width: 20%;
  display: inline-block;
}

.spacer_10 {
  width: 10%;
  display: inline-block;
}


@media only screen and (max-width: 770px) {
  .nav_bar_button {
    display: none;
  }

  .nav_bar_separator {
    display: none;
  }
}
